[package]
name = "kernel"
version = "0.1.0"
edition = "2021"

[dependencies]
goblin = { version = "0.10.4", default-features = false, features = ["elf64", "endian_fd", "alloc", "elf32"] }
linked_list_allocator = "0.10.5"
spin = "0.10.0"
