#[unstable]
#codegen-backend = true

#[profile.dev]
#codegen-backend = "cranelift"

[target.aarch64-unknown-none-softfloat]
rustflags = [
    "-C",
    "relocation-model=pic",
    "-C",
    "link-arg=-zstack-protector",
    "-C",
    "link-arg=-zrelro",
    "-C",
    "link-arg=-znow",
    "-Z",
    "sanitizer=kcfi",
    "-C",
    "link-arg=-fuse-ld=lld",
]
runner = "qemu-system-aarch64 -accel tcg,thread=multi -M virt,highmem=off -cpu cortex-a57 -smp 4 -m 2G -nographic -drive file=disk.img,format=raw,if=none,id=hd0 -device virtio-blk-pci,drive=hd0 -kernel"

[target.aarch64-apple-darwin]
linker = "clang"
rustflags = [
    "-C",
    "link-arg=-target",
    "-C",
    "link-arg=aarch64-apple-darwin",
    "-C",
    "link-arg=-fuse-ld=lld",
    "-C",
    "link-arg=-nostdlib",
]
